html {
    scroll-behavior: smooth;
  }
  body {
    background-color: white;
    color: #454545;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
  }
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  #navbar {
    display: flex;
    color:white;
    background-color: #009688;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  .nav-item {
    padding: 0px 10px;
  }
  .navigation:hover {
    background-color: rgba(0, 0, 0, .1);
  }
  a:link {
    color: white;
    text-decoration: none;
    transition: 0.5s;
  }
  a:visited {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: white;
    text-decoration: none;
    transition: 0.5s;
    /*letter-spacing: 2px;         <---Removing for now. Might add back later*/
  }
  a:active {
    color: white;
    text-decoration: none;
  }
  
  #welcome-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
  }
  #projects {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #e1e1e1;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  }

  #projects a:link {
    color: #454545;
  }
  #projects a:visited {
    color: #454545;
  }
  #projects a:hover {
    color: #454545;
  }
  #projects a:active {
    color: #454545;
  }
  
  #profile-link {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
  }

  .projects {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

  }

  .project-tile {
    background-color: white;
    border-radius: 10px;
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    transition: 0.5s;
  }
  .project-tile:hover {
    background-color: #eee;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    transition: 0.5s;
  }
  i {
    color: #454545;
    border-radius: 100%;
    transition: .5s;
    padding: 10px;
  }
  
  i:hover {
    color: #009688;
    transition: .5s;
  }